Workforce.Logic.Associates2/Workforce.Logic.Associates2/Service References/WFSReference/AssociateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ec2-54-197-33-154.compute-1.amazonaws.com/workforce-associate-soap/AssociateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" />
  <xs:element name="GetAssociates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="GetAssociatesResult" nillable="true" type="q1:ArrayOfAssociateDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="GetAddressResult" nillable="true" type="q2:ArrayOfAddressDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociateAddress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="GetAssociateAddressResult" nillable="true" type="q3:ArrayOfAssociateAddressDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="GetBatchesResult" nillable="true" type="q4:ArrayOfBatchDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="GetInstructorResult" nillable="true" type="q5:ArrayOfInstructorDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGender">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="GetGenderResult" nillable="true" type="q6:ArrayOfGenderDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAssociate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="newassociate" nillable="true" type="q7:AssociateDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAssociateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAssociateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="newaddress" nillable="true" type="q8:AddressDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAssociateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="newassocaddress" nillable="true" type="q9:AssociateAddressDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAssociateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAssociateAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="newbatch" nillable="true" type="q10:BatchDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGender">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="newgender" nillable="true" type="q11:GenderDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertGenderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertInstructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="newinstructor" nillable="true" type="q12:InstructorDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertInstructorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertInstructorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssociate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="assoc" nillable="true" type="q13:AssociateDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssociateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAssociateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="address" nillable="true" type="q14:AddressDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssociateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="assocadd" nillable="true" type="q15:AssociateAddressDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssociateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAssociateAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="batch" nillable="true" type="q16:BatchDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGender">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="gender" nillable="true" type="q17:GenderDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGenderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInstructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="instructor" nillable="true" type="q18:InstructorDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInstructorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInstructorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssociate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="assoc" nillable="true" type="q19:AssociateDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssociateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAssociateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="address" nillable="true" type="q20:AddressDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssociateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="assocadd" nillable="true" type="q21:AssociateAddressDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAssociateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAssociateAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="batch" nillable="true" type="q22:BatchDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGender">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="gender" nillable="true" type="q23:GenderDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGenderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" minOccurs="0" name="instructor" nillable="true" type="q24:InstructorDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstructorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteInstructorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>