Workforce.Logic.Associates2/Workforce.Logic.Associates2.Domain/Service References/AssociateService/AssociateService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAssociateDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssociateDao" nillable="true" type="tns:AssociateDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssociateDao" nillable="true" type="tns:ArrayOfAssociateDao" />
  <xs:complexType name="AssociateDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="AssociateID" type="xs:int" />
      <xs:element minOccurs="0" name="BatchID" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderID" type="xs:int" />
      <xs:element minOccurs="0" name="HasCar" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasKeys" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsComing" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssociateDao" nillable="true" type="tns:AssociateDao" />
  <xs:complexType name="ArrayOfAddressDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressDao" nillable="true" type="tns:AddressDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressDao" nillable="true" type="tns:ArrayOfAddressDao" />
  <xs:complexType name="AddressDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Primary" type="xs:boolean" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDao" nillable="true" type="tns:AddressDao" />
  <xs:complexType name="ArrayOfAssociateAddressDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssociateAddressDao" nillable="true" type="tns:AssociateAddressDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssociateAddressDao" nillable="true" type="tns:ArrayOfAssociateAddressDao" />
  <xs:complexType name="AssociateAddressDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="AssociateAddressID" type="xs:int" />
      <xs:element minOccurs="0" name="AssociateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssociateAddressDao" nillable="true" type="tns:AssociateAddressDao" />
  <xs:complexType name="ArrayOfBatchDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BatchDao" nillable="true" type="tns:BatchDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBatchDao" nillable="true" type="tns:ArrayOfBatchDao" />
  <xs:complexType name="BatchDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BatchID" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Instructor" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Section" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BatchDao" nillable="true" type="tns:BatchDao" />
  <xs:complexType name="ArrayOfInstructorDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstructorDao" nillable="true" type="tns:InstructorDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstructorDao" nillable="true" type="tns:ArrayOfInstructorDao" />
  <xs:complexType name="InstructorDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstructorId" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstructorDao" nillable="true" type="tns:InstructorDao" />
  <xs:complexType name="ArrayOfGenderDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenderDao" nillable="true" type="tns:GenderDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenderDao" nillable="true" type="tns:ArrayOfGenderDao" />
  <xs:complexType name="GenderDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="GenderID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenderDao" nillable="true" type="tns:GenderDao" />
</xs:schema>