Workforce.Logic.Associates2/Workforce.Logic.Associates2/Service References/WorkforceServiceReference/AssociateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AssociateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ec2-54-175-5-94.compute-1.amazonaws.com/workforce-associate-soap/AssociateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ec2-54-175-5-94.compute-1.amazonaws.com/workforce-associate-soap/AssociateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ec2-54-175-5-94.compute-1.amazonaws.com/workforce-associate-soap/AssociateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Associates2.Soap.ServiceModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssociateService_GetAssociates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociates" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_GetAssociates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociatesResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_GetAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddress" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_GetAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_GetAssociateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociateAddress" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_GetAssociateAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_GetBatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBatches" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_GetBatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_GetInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstructor" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_GetInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_GetGender_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGender" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_GetGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_InsertAssociate_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAssociate" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_InsertAssociate_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAssociateResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_InsertAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAddress" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_InsertAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_InsertAssociateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAssociateAddress" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_InsertAssociateAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAssociateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_InsertBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBatch" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_InsertBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_InsertGender_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGender" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_InsertGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_InsertInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertInstructor" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_InsertInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_UpdateAssociate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAssociate" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_UpdateAssociate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAssociateResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_UpdateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAddress" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_UpdateAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_UpdateAssociateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAssociateAddress" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_UpdateAssociateAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAssociateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_UpdateBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBatch" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_UpdateBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_UpdateGender_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGender" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_UpdateGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_UpdateInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInstructor" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_UpdateInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_DeleteAssociate_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAssociate" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_DeleteAssociate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAssociateResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_DeleteAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAddress" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_DeleteAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_DeleteAssociateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAssociateAddress" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_DeleteAssociateAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAssociateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_DeleteBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBatch" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_DeleteBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_DeleteGender_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGender" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_DeleteGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_DeleteInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInstructor" />
  </wsdl:message>
  <wsdl:message name="IAssociateService_DeleteInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInstructorResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssociateService">
    <wsdl:operation name="GetAssociates">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/GetAssociates" message="tns:IAssociateService_GetAssociates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/GetAssociatesResponse" message="tns:IAssociateService_GetAssociates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/GetAddress" message="tns:IAssociateService_GetAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/GetAddressResponse" message="tns:IAssociateService_GetAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssociateAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/GetAssociateAddress" message="tns:IAssociateService_GetAssociateAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/GetAssociateAddressResponse" message="tns:IAssociateService_GetAssociateAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/GetBatches" message="tns:IAssociateService_GetBatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/GetBatchesResponse" message="tns:IAssociateService_GetBatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/GetInstructor" message="tns:IAssociateService_GetInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/GetInstructorResponse" message="tns:IAssociateService_GetInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/GetGender" message="tns:IAssociateService_GetGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/GetGenderResponse" message="tns:IAssociateService_GetGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAssociate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/InsertAssociate" message="tns:IAssociateService_InsertAssociate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/InsertAssociateResponse" message="tns:IAssociateService_InsertAssociate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/InsertAddress" message="tns:IAssociateService_InsertAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/InsertAddressResponse" message="tns:IAssociateService_InsertAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAssociateAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/InsertAssociateAddress" message="tns:IAssociateService_InsertAssociateAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/InsertAssociateAddressResponse" message="tns:IAssociateService_InsertAssociateAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/InsertBatch" message="tns:IAssociateService_InsertBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/InsertBatchResponse" message="tns:IAssociateService_InsertBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/InsertGender" message="tns:IAssociateService_InsertGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/InsertGenderResponse" message="tns:IAssociateService_InsertGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/InsertInstructor" message="tns:IAssociateService_InsertInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/InsertInstructorResponse" message="tns:IAssociateService_InsertInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAssociate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/UpdateAssociate" message="tns:IAssociateService_UpdateAssociate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/UpdateAssociateResponse" message="tns:IAssociateService_UpdateAssociate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/UpdateAddress" message="tns:IAssociateService_UpdateAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/UpdateAddressResponse" message="tns:IAssociateService_UpdateAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAssociateAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/UpdateAssociateAddress" message="tns:IAssociateService_UpdateAssociateAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/UpdateAssociateAddressResponse" message="tns:IAssociateService_UpdateAssociateAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/UpdateBatch" message="tns:IAssociateService_UpdateBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/UpdateBatchResponse" message="tns:IAssociateService_UpdateBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/UpdateGender" message="tns:IAssociateService_UpdateGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/UpdateGenderResponse" message="tns:IAssociateService_UpdateGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/UpdateInstructor" message="tns:IAssociateService_UpdateInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/UpdateInstructorResponse" message="tns:IAssociateService_UpdateInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAssociate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/DeleteAssociate" message="tns:IAssociateService_DeleteAssociate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/DeleteAssociateResponse" message="tns:IAssociateService_DeleteAssociate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/DeleteAddress" message="tns:IAssociateService_DeleteAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/DeleteAddressResponse" message="tns:IAssociateService_DeleteAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAssociateAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/DeleteAssociateAddress" message="tns:IAssociateService_DeleteAssociateAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/DeleteAssociateAddressResponse" message="tns:IAssociateService_DeleteAssociateAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/DeleteBatch" message="tns:IAssociateService_DeleteBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/DeleteBatchResponse" message="tns:IAssociateService_DeleteBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/DeleteGender" message="tns:IAssociateService_DeleteGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/DeleteGenderResponse" message="tns:IAssociateService_DeleteGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociateService/DeleteInstructor" message="tns:IAssociateService_DeleteInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociateService/DeleteInstructorResponse" message="tns:IAssociateService_DeleteInstructor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAssociateService" type="tns:IAssociateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAssociates">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/GetAssociates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/GetAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociateAddress">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/GetAssociateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatches">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/GetBatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstructor">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/GetInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGender">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/GetGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAssociate">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/InsertAssociate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAddress">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/InsertAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAssociateAddress">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/InsertAssociateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBatch">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/InsertBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGender">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/InsertGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertInstructor">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/InsertInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAssociate">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/UpdateAssociate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAddress">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/UpdateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAssociateAddress">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/UpdateAssociateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBatch">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/UpdateBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGender">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/UpdateGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInstructor">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/UpdateInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAssociate">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/DeleteAssociate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAddress">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/DeleteAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAssociateAddress">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/DeleteAssociateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBatch">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/DeleteBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGender">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/DeleteGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInstructor">
      <soap:operation soapAction="http://tempuri.org/IAssociateService/DeleteInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AssociateService">
    <wsdl:port name="BasicHttpBinding_IAssociateService" binding="tns:BasicHttpBinding_IAssociateService">
      <soap:address location="http://ec2-54-175-5-94.compute-1.amazonaws.com/workforce-associate-soap/AssociateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>